<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%t] [%l] - %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="./RPITempCtrl-core.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
        </layout>
    </appender>


    <category name="net.rpi" additivity="true">
        <priority value="INFO"/>
    </category>

    <category name="net.sf" additivity="true">
        <priority value="error"/>
    </category>
    <root>
        <priority value="INFO" />
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>